.showcase {
    height: 450px;
    width: 100%;
    background: var(--primary-color);
  }
  
  .showcase h1 {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    padding: 1rem 0;
  }
  
  .showcase form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  form{
    justify-content: center;
  }
  .showcase form input,
  form select {
    font-size: 20px;
    width: 200px;
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  form button {
    font-size: 20px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  
  form button:hover {
    transform: scale(1.1);
  }
  
  $input-color: #333;
  $input-background: #fff;
  $input-padding: 10px;
  $input-border-radius: 5px;
  
  input[type="text"] {
    color: $input-color;
    background-color: $input-background;
    padding: $input-padding;
    border-radius: $input-border-radius;
    border: 1px solid $input-color;
  
    &:focus {
      outline: none;
      box-shadow: 0 0 5px $input-color;
    }
  }